<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<a href="/search">University Search</a> 
<a href="/calculator">Admission Calculator</a> 
<a href="/review">Review University</a> 