<body>
    <link rel="stylesheet" href="/index_style.css">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search" class="active">Universities</a></li>
            <li><a href="/review">Reviews</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li class="profile-menu">
                <img src="/profile.png" alt="Profile" class="profile-icon">
                <div class="dropdown">
                    <button>Profile</button>
                    <button>Settings</button>
                    <form action="/login" method="post"><button type="submit">Logout</button></form>
                </div>
            </li>
        </ul>
    </nav>
    <div class="main-content">
        <div class="left-content">
            <button class="button-pill">Hi <%= name %></button>
            <h2 class="main-title">UniversityHub</h2>
            <p class="sub-title">Your university resource hub.</p>
            <button class="search-button" onclick="window.location.href='/search'">
                Search Universities
            </button>
        </div>
        <div class="right-content">
            <div>
                <span>Search</span>
                <span class="value">4 Universities</span>
            </div>
            <div>
                <span>Calculator</span>
                <span class="value">10+ Averages</span>
            </div>
            <div>
                <span>Majors</span>
                <span class="value">40+ Majors</span>
            </div>
        </div>
    </div>
</body> 