<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="review_style.css">
    <title>Review Your University</title>
</head>
<body>
    <nav>
        <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/search" class="active">Universities</a></li>
        <li><a href="/review">Reviews</a></li>
        <li><a href="/calculator">Programs</a></li>
        <li class="profile-menu">
            <img src="profile.png" alt="Profile" class="profile-icon">
            <div class="dropdown">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
            </div>
        </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Review Your University</h1>
        
        <form id="reviewForm">
            <div>
                <label for="university_select">Choose a University:</label>
                <select name="university_id" id="university_select">
                    <option value="">--Please choose an option--</option>
                    <option value="4">University of Toronto</option>
                    <option value="1">University of Waterloo</option>
                    <option value="2">Western University</option>
                    <option value="3">Queens University</option>
                </select>
            </div>
            
            <button id="review_btn" type="button" class="button">
                Go to Review Page
            </button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const reviewButton = document.getElementById('review_btn');
            const universitySelect = document.getElementById('university_select');

            reviewButton.addEventListener('click', () => {
                const universityId = universitySelect.value;
                if (universityId) {
                    window.location.href = `/review/${universityId}`;
                } else {
                    alert('Please select a university before proceeding.');
                }
            });
        });
    </script>
</body>
</html>